.btn-success:hover {
    background-color: rgb(233, 223, 78);
}
h3 {
    font-size: 25px !important;
}
canvas {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 1px 1px 38px greenyellow;}
    to { box-shadow: 1px 1px 38px aqua;}
}